.Footer {
      
} 

.Footer a {
    text-align: center; 
    width: 100%;
    color: white;
} 

.App-footer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}