.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black; 
  
} 

.Image-head {
  height: 300px;
  width: 25%; 
  border-radius: 50%; 
  padding: 9px; 
  animation: fadein 2s;
} 

@keyframes fadein {
    from { opacity: 0; } 
    to { opacity: 1; }
}

.Welcome {
    background-color: white;
    max-width: 25%;
    margin: 50px auto;
    padding: 10px;
    border-radius: 25px; 

    animation-name: swipeL;
    animation-duration: 3s;
} 

@keyframes swipeL {
  from {margin-left: -100%} 
  to {margin-left: 0%}
} 

.gallery-image{
  max-width: 50%;
  
}