.App {
  text-align: center;
  background-image: url("images/Background.jpg"); 
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: cover;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white; 
  
}

