.App {
  text-align: center;
  background-image: url("images/Background.jpg"); 
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: cover;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white; 
  
} 

.App-footer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  text-align: center;
  
} 

.Image-head {
  height: 300px;
  width: 25%; 
  border-radius: 50%; 
  padding: 9px; 
  animation: fadein 2s;
} 

@keyframes fadein {
    from { opacity: 0; } 
    to { opacity: 1; }
} 

.Welcome { 
  
  animation-name: swipeL;
  animation-duration: 3s; 
} 

@keyframes swipeL {
  from {margin-left: -100%} 
  to {margin-left: 0%}
}

